body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#main {
    width: 90%;
    margin: auto;
}
#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu ul {
    list-style-type: none;
    display: flex;
}

#menu ul li a {
    text-decoration: none;
    color: grey;
    margin-left: 30px;
    padding-top: 36px;
}

#menu ul li a:hover {
    color: black;
    transition: .1s;    
    border-top: 4px solid #22b0b3;
}
#slider {
    display: flex;
}
#slider img {
    width: 100%;
}
/*
.precedent {
    order: 1;
    height: 50px;
    align-self: center;
}
#slider img {
    order: 2;
}
.suivant {
    order: 3;
    height: 50px;
    align-self: center;
}
*/
.precedent, .suivant {
    position: absolute;
    top: 36%;
    background: rgba(43, 42, 47, 0.6);
    border: none;
    height: 60px;
    width: 40px;

}
.precedent {
    border-radius: 0 35px 35px 0; 
}
.suivant {
    right: 5%;
    border-radius: 35px 0 0 35px;
}
.bleu_texte {
    color: #5cadd3;
}
#description {
    position: absolute;
    top: 300px;
    left: 250px;
    color: white;
}
#texte_principal {
    margin-bottom: 0;
}
#h1_projet {
    margin-top: 0;
}
#infos_btn {
    height: 50px;
    border-radius: 5px;
    font-size: 1.2em;
    background: #5cadd3;
    color: white;
    border: 0;
    border-bottom: 3px solid #4494bb;
    cursor: pointer;
}

#services h2 {
    text-align: center;
    color: #272727;
    font-size: 2.5em;
}
.style_hr {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.hr-line {
    width: 20%;
    padding-bottom: 5px;
    border-bottom: 1px solid #272727;

}
.fa-circle {
    color: #5cadd3;
    position: relative;
    top: 7px;
}
.texte_center {
    text-align: center;
}
#ordi_competences {
    width: 100%;
    display: flex;
    justify-content: center;
}
#ordinateur {
    width: 510px;
}